*{
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}
/* Header */
header{
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 1;
}
header img{
    width: 20px;
}
.header1{
    display:flex;
    justify-content: space-around;
    background-color: skyblue;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.header1 section article{
  margin: 10px;
}
.header1 section{
    display: flex;
}
.redes{
  padding-top: 12px;
}
.header2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    background-color: aliceblue;
}
.header2 button{
  visibility: hidden;
}
.header2 section{
  display: flex;
  align-items: center;
}
.logo{
    width:unset;
}
h2{
    margin: 0px;
}
nav{
    font-weight: bold;
    vertical-align: middle;
    display: flex;
}
.contenidodesplegable{
  display: flex;
}
.contenidodesplegable p{
  padding: 5px;
}
.lupa{
  width: 10px;
}

/* Main */

/* Slider */
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  *::-webkit-scrollbar {
    width: 0;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  * {
    -ms-overflow-style: none;
  }
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .carousel {
    position: relative;
    padding-top: 25%;
    filter: drop-shadow(0 0 10px #0003);
    margin-top: 50px;
  }
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 50%;
    margin: auto;
    
  }
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
  }

  /* Botones */
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  /* Estilos de los botones */
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  /* Ocultar enlaces */
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  /* Imágenes slider */
#carousel__slide1{
  background-image: url(../IMG/slider1.jpg);
  background-size: 100%;
}
#carousel__slide2{
  background-image: url(../IMG/slider2.jpg);
  background-size: 100%;
}
#carousel__slide3{
  background-image: url(../IMG/slider3.jpg);
  background-size: 100%;
}
#carousel__slide4{
  background-image: url(../IMG/slider4.jpg);
  background-size: 100%;
 }
  /* Acaba slider */

  /* Información */
  h1{
    text-align: center;
  }
  .info{
    border: 1px solid yellow;
    border-radius: 10px;
    text-align: center;
    margin: auto;
  }
  .info p{
    font-weight: bold;
  }

/*Grid Noticias  */
.noticias{
  display: grid;
  justify-content: center;
  gap: 10px;
  margin: 20px;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 0.4fr, 1fr, 0.4fr;
  grid-template-areas: 
  "img1 img2 img3"
  "text1 text2 text3"
  "img4 img5 img6"
  "text4 text5 text6";
}
.noticias article img{
  width: 90%;
  border: 1px solid;
}
.img1{
  grid-area: img1;
}
.img2{
  grid-area: img2;
}
.img3{
  grid-area: img3;
}
.img4{
  grid-area: img4;
}
.img5{
  grid-area: img5;
}
.img6{
  grid-area: img6;
}

.text1{
  grid-area: text1;
}
.text2{
  grid-area: text2;
}
.text3{
  grid-area: text3;
}
.text4{
  grid-area: text4;
}
.text5{
  grid-area: text5;
}
.text6{
  grid-area: text6;
}

/* Flex */
.flex{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.flex article{
  width: 20%;

}
.flex article img{
  width: 100%;
}
.flex article p{
  width: 100%;
  text-align: center;
  color: black;
}
.flex a{
  text-decoration: none;
}
.flex button{
  display: block;
}

/* Mostrar Más */
.MM{
  text-align: center;
  padding: 20px;
}
.MM button{
  background-color: goldenrod;
  border-radius: 20px;
  padding: 5px;
  width: 200px;
}
/* Contacto */
.contact{
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 30%;
  width: 80%;
  background-image: url(../IMG/contacto.webp);
  background-size: 100%;
  height: 300px;
  background-repeat: no-repeat;
}
.contact h1{
  align-self: center;
  color: white;
  width: 100%;
  margin-left: 20px;
}
.contact a{
  height: 50px;
  width: 200px;
  align-self: center;
  margin-right: 20px;
}
a button{
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  height: 50px;
  width: 200px;

}
.contact button:hover{
  background-color: rgba(128, 128, 128, 0.192);
  transition: 0.3s;
}
.contact button:active{
  background-color: rgba(49, 197, 255, 0.164);
}

/* Grid 2 */
.colaboradores{
  display: grid;
  width: 50%;
  margin: auto;
  column-gap: 40%;
  grid-template-columns: 0.5fr, 0.5fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: 
  "col1 col2"
  "col3 col4";
}
.colaboradores article{
  display: flex;
}
.colaboradores p{
  align-self: center;
  font-size: large;
  font-weight: bold;
}
.colaboradores img{
  width: 100%;
}
.col1{
  grid-area: col1;
}
.col2{
  grid-area: col2;
}
.col3{
  grid-area: col3;
}
.col4{
  grid-area: col4;
}
/* Grid footer */
footer{
  display: grid;
  grid-template-columns: 5% 5% 15% 10%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "t1 t2 t3 t4"
  "dir calen i1 i2";
  background-color: rgb(35, 38, 51);
  height: 200px;
  color: white;
  column-gap: 5%;
  justify-content: center;
  align-items: center;
  justify-items: center;}
footer img{
  width: 40%;
}
.t1{
  grid-area: t1;
}
.t2{
  grid-area: t2;
}
.t3{
  grid-area: t3;
}
.t4{
  grid-area: t4;
}
.dir{
  grid-area: dir;
}
.calen{
  grid-area: calen;
}
.i1{
  grid-area: i1;
}
.i2{
  grid-area: i2;
}