@media(max-width: 992px){
    /* Header */
    .header1{
        justify-content: space-evenly;
    }
    .header2 button{
        visibility: visible;
    }
    .desplegable{
        position: relative;
        display: flex;
    }
    .desplegable article{
        padding: 5px;
    }
    .contenidodesplegable{
        display: none;
        position: absolute;
        z-index: 1;
        width: 100px;
    }
    .desplegable:hover .contenidodesplegable{
        display: block;
        padding: 10px;
        margin: 0px;
        background-color: white;
    }
    .contenidodesplegable p{
        padding: 5px;
    }
    .contenidodesplegable p:hover{
        background-color: rgba(128, 128, 128, 0.329);
    }
    /* Noticias */
    .noticias{
        display: flex;
        flex-direction: column;
    }
    .noticias article{
        align-self: center;
        width: 40%;
    }
    .noticias article img{
        width: 100%;
    }
    .img3, .img4, .img5, .img6, .text3, .text3, .text4, .text5, .text6{
        visibility: hidden;
        display: none;
    }
    /* Flex */
    .flex{
        display: none;
    }
    .contact{
        height: unset;
        gap: 5px;
        justify-content: unset;
        width: 100%;
    }
    .colaboradores{
        display: none;
    }

    /* Footer */
    footer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "t1 t2 t3 t4";
        padding-left: 5%;
        padding-right: 5%;
        gap: 2px;
    }
}
.dir, .calen, .i1, .i2{
    display: none;
    visibility: hidden;
}